

<div class="masthead">
    <nav class="language-nav">
        <a href="">CSS</a>
        <a href="">HTML</a>
        <a href="">Javascript</a>
        <a href="">Ruby</a>
    </nav>
    
    <img class="logo" src="./assets/AA_Times_Logo.png" alt="Logo">

    <div class="masthead-links">
        <ul>
            <li><time>Tuesday, October 18, 2016</time></li>
            <li><a href="">Today's Paper</a></li>
            <li><a href=""><i class="fa fa-video-camera"></i></i>  Video</a></li>
            <li>77°F</li>
            <li>AAO <strong>+100%</strong></li>
        </ul>
    </div>
    
</div>
